CompileFlags:
  Add:
    - --cuda-path=/usr/local/cuda
    - -I/home/qs234/.conda/envs/hadamard/include
    - -I/home/qs234/.conda/envs/hadamard/lib/python3.11/site-packages/torch/include
    - -I/home/qs234/.conda/envs/hadamard/lib/python3.11/site-packages/torch/include/torch/csrc/api/include
    - -I/home/qs234/.conda/envs/hadamard/lib/python3.11/site-packages/torch/include/TH
    - -I/home/qs234/.conda/envs/hadamard/lib/python3.11/site-packages/torch/include/THC
    - -I/home/qs234/.conda/envs/hadamard/include/python3.11
    - -I/usr/local/cuda/include
    - -L/home/qs234/.conda/envs/hadamard/lib
    - -L/usr/local/cuda/lib
